:root {
  --initial-color-mode: light;
  --color-0: undefined;
  --color-1: undefined;
  --color-textPrimary: hsl(210deg, 12%, 16%);
  --color-text: hsl(210deg, 12%, 16%);
  --color-textWhite: hsl(0deg, 0%, 96%);
  --color-textBlack: hsl(0deg, 0%, 0%);
  --color-textSecondary: hsl(212deg, 9%, 38%);
  --color-textTertiary: hsl(212deg, 8%, 45%);
  --color-textLink: hsl(212deg, 97%, 43%);
  --color-background: hsl(0deg, 0%, 100%);
  --color-backgroundOverlay: hsl(0deg, 0%, 100%);
  --color-backgroundOverlayDark: hsl(210deg, 13%, 12%);
  --color-borderPrimary: hsl(214deg, 13%, 90%);
  --color-buttonPrimary: hsl(212deg, 97%, 43%);
  --color-hiddenBackgroundOverlay: hsl(214deg, 13%, 90%);
  --color-white: hsl(0deg, 0%, 100%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-gray50: hsl(0deg, 0%, 96%);
  --color-gray100: hsl(0deg, 0%, 90%);
  --color-gray200: hsl(0deg, 0%, 80%);
  --color-gray300: hsl(0deg, 0%, 70%);
  --color-gray500: hsl(0deg, 0%, 50%);
  --color-gray600: hsl(0deg, 0%, 40%);
  --color-gray700: hsl(0deg, 0%, 30%);
  --color-gray800: hsl(0deg, 0%, 20%);
  --color-gray900: hsl(0deg, 0%, 10%);
  --color-blue50: hsl(212deg, 98%, 93%);
  --color-blue100: hsl(212deg, 97%, 83%);
  --color-blue300: hsl(212deg, 97%, 63%);
  --color-blue500: hsl(212deg, 97%, 43%);
  --color-blue700: hsl(212deg, 97%, 33%);
  --color-blue900: hsl(212deg, 97%, 25%);
}

[data-color-mode="dark"] {
  --initial-color-mode: light;
  --color-0: undefined;
  --color-1: undefined;
  --color-textPrimary: hsl(210deg, 17%, 82%);
  --color-text: hsl(210deg, 17%, 82%);
  --color-textWhite: hsl(0deg, 0%, 0%);
  --color-textBlack: hsl(100, 100%, 100%);
  --color-textSecondary: hsl(212deg, 9%, 58%);
  --color-textTertiary: hsl(212deg, 9%, 58%);
  --color-textLink: hsl(212deg, 100%, 67%);
  --color-background: hsl(216deg, 28%, 7%);
  --color-backgroundOverlay: hsl(210deg, 12%, 16%);
  --color-backgroundOverlayDark: hsl(0deg, 0%, 4%);
  --color-borderPrimary: hsl(212deg, 12%, 21%);
  --color-buttonPrimary: hsl(212deg, 100%, 67%);
  --color-hiddenBackgroundOverlay: hsl(212deg, 12%, 21%);
  --color-white: hsl(0deg, 0%, 100%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-gray50: hsl(0deg, 0%, 5%);
  --color-gray100: hsl(0deg, 0%, 10%);
  --color-gray200: hsl(0deg, 0%, 20%);
  --color-gray300: hsl(0deg, 0%, 30%);
  --color-gray500: hsl(0deg, 0%, 50%);
  --color-gray600: hsl(0deg, 0%, 60%);
  --color-gray700: hsl(0deg, 0%, 70%);
  --color-gray800: hsl(0deg, 0%, 80%);
  --color-gray900: hsl(210deg, 38%, 95%);
  --color-blue50: hsl(212deg, 100%, 95%);
  --color-blue100: hsl(212deg, 100%, 92%);
  --color-blue300: hsl(212deg, 100%, 83%);
  --color-blue500: hsl(212deg, 100%, 67%);
  --color-blue700: hsl(212deg, 100%, 47%);
  --color-blue900: hsl(212deg, 100%, 31%);
}
